<div class="container">
  <form [formGroup]="editParkingForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Id</label>
      <input
        [class.is-invalid]="
          editParkingForm.get('id').invalid && editParkingForm.get('id').touched
        "
        formControlName="id"
        type="number"
        class="form-control"
      />
      <small
        [class.d-none]="
          editParkingForm.get('id').valid || editParkingForm.get('id').untouched
        "
        class="text-danger"
      >
        Id is required !!!
      </small>
    </div>
    <br />
    <div class="form-group">
      <label>Per Hour Charge</label>
      <input
        [class.is-invalid]="
          editParkingForm.get('hourRate').invalid &&
          editParkingForm.get('hourRate').touched
        "
        formControlName="hourRate"
        type="number"
        class="form-control"
      />

      <small
        [class.d-none]="
          editParkingForm.get('hourRate').valid ||
          editParkingForm.get('hourRate').untouched
        "
        class="text-danger"
      >
        Per Hour Charge is required !!!
      </small>
    </div>
    <hr />
    <button class="btn btn-primary" type="submit">Save</button>
  </form>
</div>
